@font-face {
    font-family: "ROSans";
    font-style: normal;
    font-weight: normal;
    src: url("../includes/ROsanswebtextregular.ttf") format("opentype");
}
@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}
@media (min-width: 1900px) {
  .container {
    width: 1870px;
  }
}
html, body, #map {
    font-family: ROSans;
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: linen;
}
html, body, #container {
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
body {
    
}

.infoHeader
{
    font-size:14px;
    font-weight: 900;
    margin-top:15px;
}

.infoTechnologyTitle
{
    margin-top:25px;
    font-size: 24px;
    font-weight: 700;
}

.infoTechnologyDescription
{
    font-size:16px;
    margin-bottom: 10px;
    margin-left:15px;
}

.infoCategoryCategory
{
    font-size:22px;
    margin-left:15px;

}

.technologySelected
{
    background:lightskyblue;
}

 .search-icon {
            width: 40px;
            float: left;
            cursor: pointer;
            border-right-style: solid;
            border-right-width: 1px;
            border-right-color: lightgray;
        }

.header-box {
            position: absolute;
            left: 25px;
            top: 15px;
                min-width: 400px;
            height: 50px;
                background: white;
            box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
        }
.menutoggle {
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    color: white;
    cursor: pointer;
    float: left;
    font-size: 22px;
    height: 50px;
    padding-left: 22px;
    padding-top: 10px;
    transition: all 0.2s ease-out 0s;
    width: 70px;
}

.sidebar {
    pointer-events: none;
    position: absolute;
    display: flex;
        background: white;
    top: 75px;
    width: 300px;    
    left: 25px;    
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
        bottom:20px;
}

.leftpanel {
    background: white;
    
    display: inline-block;
    pointer-events: all;
    
    
}

/* right panel */
.rightpanelContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0;
  top: 0; }


.rightpanelTabs {
  pointer-events: none;
  margin-right: 0;
  width: 60px;
  height: 100%;
  right: 350px;
  position: absolute; }

.rightpanel-closebutton {
  position: absolute;
  right: 8px;
  top: 5px;
  font-size: 30px;
  cursor: pointer; }

.rightpanelTabs-collapsed {
  right: 0; }

.rightpanelTabPanes {
  pointer-events: all;
  position: absolute;
  vertical-align: top;
  width: 450px;
  height: 100%;
  background-color: white;
  right: 0; }

.rightpanel-hidetab {
  background: #aaa; }

.rightpanel-header-icon {
  width: 30px;
  height: 24px;
  margin-left: 5px;
  float: left;
  margin-right: 10px; }

.rightpanel-header-button {
  border: 0;
  margin-right: 5px;
  background: transparent; }


.rightpanel {
  position: absolute;
  width: 100%;
  pointer-events: none;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2; }


/* custom inclusion of right, left and below tabs */
#rightpanelTabContainer.tabs-below > .nav-tabs,
#rightpanelTabContainer.tabs-right > .nav-tabs,
#rightpanelTabContainer.tabs-left > .nav-tabs {
  border-bottom: 0; }

#rightpanelTabContainer.tab-content > .tab-pane,
#rightpanelTabContainer.pill-content > .pill-pane {
  display: none; }

#rightpanelTabContainer.tab-content > .active,
#rightpanelTabContainer.pill-content > .active {
  display: block; }

#rightpanelTabContainer.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd; }

#rightpanelTabContainer.tabs-below > .nav-tabs > li {
  margin-bottom: 0;
  margin-top: -1px; }

#rightpanelTabContainer.tabs-below > .nav-tabs > li > a {
  color: black; }

#rightpanelTabContainer.tabs-below > .nav-tabs > li > a:hover,
#rightpanelTabContainer.tabs-below > .nav-tabs > li > a:focus {
  border-bottom-color: transparent;
  border-top-color: #ddd; }

#rightpanelTabContainer.tabs-below > .nav-tabs > .active > a,
#rightpanelTabContainer.tabs-below > .nav-tabs > .active > a:hover,
#rightpanelTabContainer.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd; }

#rightpanelTabContainer.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  pointer-events: all;
  float: none; }

#rightpanelTabContainer.tabs-left > .nav-tabs > li > a,
#rightpanelTabContainer.tabs-right > .nav-tabs > li > a {
  margin-right: 0;
  height: 60px;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 15px;
  margin-bottom: 10px;
  border-radius: 0; }

#rightpanelTabContainer.tabs-left > .nav-tabs {
  border-right: 1px solid #ddd;
  float: left; }

#rightpanelTabContainer.tabs-left > .nav-tabs > li > a {
  background-color: rgba(255, 255, 255, 0.7);
  margin-right: -1px; }

#rightpanelTabContainer.tabs-left > .nav-tabs > li > a:hover {
  background-color: white; }

#rightpanelTabContainer.tabs-left > .nav-tabs > li > a:hover,
#rightpanelTabContainer.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eee #ddd #eee #eee; }

#rightpanelTabContainer.tabs-left > .nav-tabs .active > a,
#rightpanelTabContainer.tabs-left > .nav-tabs .active > a:hover,
#rightpanelTabContainer.tabs-left > .nav-tabs .active > a:focus {
  background-color: white;
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #fff; }

#rightpanelTabContainer.tabs-right > .nav-tabs {
  border-left: 1px solid #ddd;
  float: right;
  margin-left: 5px; }

#rightpanelTabContainer.tabs-right > .nav-tabs > li > a {
  margin-left: -1px; }

#rightpanelTabContainer.tabs-right > .nav-tabs > li > a:hover,
#rightpanelTabContainer.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eee #eee #eee #ddd; }

#rightpanelTabContainer.tabs-right > .nav-tabs .active > a,
#rightpanelTabContainer.tabs-right > .nav-tabs .active > a:hover,
#rightpanelTabContainer.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #fff; }

.rightPanelTabAnimated {
  -webkit-transition: 0.5s ease-in-out all;
  /* Chrome */
  left: 0;
  opacity: 1;
  transition: 0.5s ease-in-out all; }

.rightPanelTabAnimated.ng-hide {
  display: block !important;
  left: 50px;
  opacity: 0; }

.tab-pane {
  -webkit-transition: 1s ease-in-out all;
  /* Chrome */
  display: none !important;
  transition: 1s ease-in-out all; }

.tab-pane.active {
  display: block !important; }


#rightpanelTabPanes {
  -webkit-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2); }

.rightpanel-content {
  display: inline-block;
  width: 100%; }

.rightpanel .nav {
  margin-left: 2px;
  margin-top: 5px; }

.technology-list-container
{
    position:absolute;
    top:65px;
    bottom:0;
    left:0;
    right:0;
    overflow-y: auto;
    overflow-x: hidden;
}

.technology-list-title
{
        font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 4px;
}

 .lp-tab {
            width: 60px;
            height: 60px;
            float: left;
            padding: 15px;
            /* padding-left: 20px; */
            cursor: pointer;
            border-right-style: solid;
            border-right-width: 1px;
            border-right-color: lightgray;
            font-size: 30px;
            color: black;
        }

        .lp-tab.active {
            background: lightskyblue
        }

.leftpanel-content > .tab-content {

}
.leftpanel-collapsed .leftpanel-content {
    display: none;
    width: 0;
}
.leftpanel-collapsed .leftpanel {
    display: none;
}
.leftpanel-collapsed .leaflet-container {
    margin-left: 0;
}


.leftpanel-entrance {
    -webkit-animation: fadeInLeft 0.1s;
}
.leftpanel-entrance.ng-hide {
    opacity: 0;
}
.leftpanel-exit {
    -webkit-animation: fadeOutLeft 0.0s;
}
.leftpanel-header-button {
    float: right;
    border: 0;
    background: transparent;
}
.leftpanel-header-button-container {
    float: right;
    margin-right: 10px;
}
.leftpanel-header-button-container-left {
    float: left;
    margin-left: -5px;
    margin-right: 5px;
}

.leftpanel-header {
    font-size: 35px;
    font-weight: bold;
    margin-top: 7px;
    padding-bottom: 10px;
    width: 100%;
}
.leftpanel-collapsed .navbar {
    left: 0;
}
.leftpanel-content {
         position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 60px;
    margin: 0;
    bottom: 0;

}

.nav > li {
    cursor: pointer;
}
.nav-pills > li > a {
    border-radius: 0;
}

.leftpanel-tab {
      width: 100%;
    position: absolute;
    z-index: 1;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgray;
}

/* Header bar should be overwritten by children, so if you increase the border-top height above, you should match it here */
.leftpanel-content > .tab-content {

}
.leftpanel-collapsed .leftpanel-content {
    display: none;
    width: 0;
}
.leftpanel-collapsed .leftpanel {
    display: none;
}
.leftpanel-collapsed .leaflet-container {
    margin-left: 0;
}


.ts {
    margin: 0;
    padding: 0;
    width:50000px;

    list-style-type: none;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.ts li {
    float: left;
    width:200px;
}
.ts-item
{
  background: white;
  margin-left:10px;
  margin-right:5px;
  margin-top:10px;
  height:75px;
  opacity:0.5;
}
.list-id
{
  float:left;
  font-size:30px;
  background:black;
  color:white;
  padding-right:5px;
}
.list-title
{
  font-size:16px;
  margin-left:25px;
  margin-top:10px;
  font-weight:500;
}
.item-container{
  fill-opacity:0.85;
}
.item-container:hover{
  fill:"red";
}
.item-container-drop-shadow
{
  filter: blur(1px);
}
.item-id{
  font-size:14px;
  font-weight:800;
}
.starter-template {
    background: lightgray;
    padding: 20px 15px;
    text-align: center;
}
.shortTitle {
    cursor: pointer;
    fill: black;
    font-weight:900;
    font-size: 12px;
    letter-spacing: -1px;
}
.shortTitle:hover {
    font-weight: 900;
    fill: black;
    font-size: 10px;
    z-index: 100;
}
.period  {
    fill: white;
    font-size: 1.2em;
    font-weight: bold;
}
.category {
    font-size: 1.2em;
    font-weight: bold;
}
.category:hover {
    cursor: pointer;
    background: white;
    fill: yellow;
    font-size: 1.5em;
}
.period:hover {
    cursor: pointer;
    fill: yellow;
    /*fill: #187aac;*/
    font-size: 1.5em;
}
.backarrow {
    cursor: pointer;
    font-size: 5em;
    fill: black;
}
.backarrow:hover {
    fill: #3182bd;
    font-size: 6em;
}
.new {
    fill: red;
}
.thumbnail:hover {
    fill: yellow;
}

/* Start slide style */
.slide-title {
    font-size: 40px;
    position: absolute;
    left: 80px;
    top: 10px;
    fill: black;
    background-color: black;
    color: white;
    padding: 3px;
    min-width: 0;
    font-weight: 700;
}

.slide-subtitle {
    font-size: 25px;
    position: absolute;
    left: 80px;
    top: 75px;
    fill: black;
    background-color: black;
    color: white;
    padding: 3px;
}

.content-list {
    list-style: none;
    position: absolute;
    left: -90px;
    top: 10px;
}

.content-preview {
    background: white;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-color: gray;
    border-width: 3px;
    border-style: solid;
    margin-bottom: 20px;
    position: relative;
    opacity: 0.75;
}

.selected-content {
    opacity: 1;
    border-width: 3px;
    border-color: black;
    opacity: 1;
}

.image-preview {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.selected-image {
    opacity: 1;
}

.active-content {
    width: 100% !important;
    height: auto !important;
    position: absolute;
    margin: 0;
}

.active-text {
    height: 45vh;
    width: 70vh;
    overflow-y: auto;
    margin-left: 80px;
    font-size: 30px;
    color: black;
    margin-top: 120px;
    font-weight: 500;
    position: absolute;
}

.active-image {
    margin-top: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    position: absolute;
}

.preview-icon {
    color: black;
    position: absolute;
    top: 20px;
    font-size: 40px;
    right: 27px;
    top: 25px;
}

/* End slide style */

.focus-opacity {
    opacity: 1;
}

/*.col-md-6:not(:first-child,:last-child) {
    padding-left:25px;
    padding-right:35px;
}*/

.truncate {
    /*width: 250px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.edit-container .edit {
    color: transparent;
}
.edit-container:hover .edit {
    color: white;
    cursor: pointer;
}
.navbar-brand {
    color: white;
    font-weight: bold;
}
#wrapper {
    min-height: 100%;
}
#content {
    /*overflow: hidden;*/
    padding-bottom: 30px;
}
#footer {
    position: relative;
    margin-top: -50px;
    height: 50px;
    clear: both;
}
#searchbox {
    width: 100px;
}
textarea {
    overflow: hidden;
}
.dropbox{
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 370px;
    height: 105px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}
.tree li ul > li {
    display: none;
}

  
         .arc {
            fill: red;
            stroke: white;
            stroke-width: 3;
        }
     
